.submenu {
  list-style: none;
  padding-left: 30px;
  margin-top: 10px;
}

.submenu li {
  margin: 10px 0;
}

.submenu a {
  text-decoration: none;
  color: #b8c7ce;
  font-size: 15px;
}

.submenu a:hover {
  color: #3b3a3f;
}
.active-link {
  background: #2962ff;
  color: white !important;
  border-radius: 5px;
  padding: 8px;
}

.active-link .icon {
  color: white;
}
.sidebar-list-item a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #908f8f;
}

.submenu li a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.active-link {
  background: #2962ff;
  color: white !important;
  border-radius: 6px;
  padding: 8px;
}

.active-link .icon {
  color: white;
}